.carousel {
    height: 400px;
    margin-top: 20px;
    background-color: #3d3839;
  }

  .carousel-item {
    transition: opacity 1s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right,
  .carousel-item-next.carousel-item-right,
  .carousel-item-prev.carousel-item-left {
    opacity: 0;
  }
  